*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

body{
  font-family: Poppins, sans-serif;
  
}

h2{
  font-weight: normal;
  font-size: 1.6rem;
}
section{
  padding: 20px;
}

.gray {
  color: #918E9B ;
}

.bold{
  font-weight: bold;
}


/* Navbar css */
nav .nav-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
box-shadow: 0px 2.98px 7.46px 0px #0000001A;
padding: 10px 20px;
}

nav .nav-logo{
  max-width: 120px;
}



/* Hero section css */

.hero-img{
 width: 70%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 40px auto 20px;

}

.hero-content .hero-heading{
  font-size: 4.8rem;
  font-weight: 600;
  color: #000000;
}

.hero-content .hero-text{
  font-size: 22px;
  font-weight: 300;
  color: #222222;
  width: 480px;
  line-height: 28px;
}


/* Card Section */
.card{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}
.card >  .card-content >  .card-rating{
  display: flex;
  gap: 3px;
  align-items: center;
}
.card >  .card-content >  .card-rating > img{
  width: 15px;
  height: 15px;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}