*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Inter", sans-serif;
  background: #282D35;
  height: 100vh;
}


nav{
 display: flex;
 align-items: center;
 height: 60px;
 background-color: #21222A;
 padding: 30px 25px;
}

nav img{
  height: 60px;
}

nav .nav-logo-text{
  margin-right: auto;
  color: #61DAFB;
  font-size: 26px;
}

nav .nav-title{
  color: rgb(248, 248, 248);
  font-size: 32px;
}

main{
  padding: 40px 40px;
  color: white;
  background-image: url("./assets/bgImg.png");
  background-position: right 100%;
  background-size: 15%;
  background-repeat: no-repeat;
}

main .main-title{
  font-size: 52px;
  letter-spacing: -0.5px;

}

main .main-facts{
  padding: 20px;
  max-width: 500px;
}

main ul .main-fact {
  padding-block: 5px;
  font-size: 22px;
}

main ul .main-fact::marker{
  color: #61DAFB;
  font-size: 30px;
}




/* media queries */


@media screen and (max-width: 768px){
   
   nav img{
     height: 40px;
   }
   
   nav .nav-logo-text{
         font-size: 22px;
   }
   
   nav .nav-title{
     font-size: 28px;
   }
   
   
   main{
    padding: 20px;
 
  }
   main .main-title{
     font-size: 42px;
   
   }
   
   main ul .main-fact {
     font-size: 18px;
   }
   
   main ul .main-fact::marker{
     font-size: 25px;
   }
   
}


@media screen and (max-width: 576px){
  nav{
    height: 40px;
    padding: 15px 12px;
   }
   
   nav img{
     height: 40px;
   }
  
  nav .nav-logo-text{
        font-size: 12px;
  }
  
  nav .nav-title{
    font-size: 14px;
  }
  
  main .main-facts{
  padding: 10px;
  max-width: 100%;
}
  
  main .main-title{
    font-size: 22px;
  
  }
  
  main ul .main-fact {
    padding-block: 0px;
    font-size: 12px;
  }

  main ul .main-fact::marker{
    font-size: 20px;
  } 
}