*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 10px;
}

section {
    padding: 20px;
}
.header{
    height: 65px;
    background-image: linear-gradient(to right, #672280, #A626D3);
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}


.header-logo__text{
    color: #FFF;
    font-size: 2.2rem;
}

.header-subtitle .header-subtitle__text{
color: #FFF;
font-size: 1.6rem;
font-weight: 400;
}

.form{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    gap: 15px;
    width: 70%;
    margin: 30px auto;
}
.form  label{
    font-size: 1.4rem;
    color: #374151;
    font-weight: 500;
}
.form-input{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #D5D4d8;
    text-indent: 5px;
    border-radius: 5px;
    margin-top: 3px;
    font-family: "Poppins", sans-serif;
}


.form-button{
    grid-column: 1/-1;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1.8rem;
    padding:10px;
}


.result {
    display: flex;
    justify-content: center;
}

.result > img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}